html, body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(13, 106, 227);
    background: linear-gradient(135deg, rgba(13,104,227,1) 0%, rgba(52,195,197,1) 100%);
}
/* ------------------------------------------------- */
section {
    display: flex;
    background-color: #0a53b8;
    width: 100%;
    height: 6vh;
    z-index: 1;
}

section h1 {
    cursor: pointer;
    color: #ffffff;
    margin: 0;
    margin-top: 1.45vh;
    margin-left: 3vh;
    font-size: 3vh;
}

section button {
    position: absolute;
    background-color: transparent;
    right: 0px;
    width: 8vh;
    height: 8vh;
    margin-right: 1vh;
    margin-top: 0.9vh;
    border: 0;
}

section span {
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    top: 0px;
    right: 0px;
    width: 45%;
    height: 45%;
    border: 0.4vh solid black;
}

.hrdesection {
    margin: 0;
    border: 0.5vh solid #083D82;
}
/* ------------------------------------------------- */
footer {
    position: fixed;
    background-color: #393f44;
    bottom: 0;
    width: 100%;
    height: 5vh;
    z-index: 3;
}

footer .center {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 20vh;
    margin-left: 50%;
    height: 5vh;
    transform: translate(-50%);
}

footer p {
    font-weight: bold;
    color: white;
    margin: 0;
    font-size: 2.2vh;
}

footer img {
    cursor: pointer;
    margin-top: 0.6vh;
    margin-left: 1vh;
    width: 3.8vh;
    height: 3.8vh;
}
/* ------------------------------------------------- */
aside {
    position: fixed;
    display: flex;
    background-color: #eef4f0;
    width: 100px;
    height: 88.2vh;
    z-index: 1;
    top: 6.9vh;
    left: 0px;
}

.hrdeaside {
    margin: 0;
    margin-left: 100%;
    border: 3.9px solid #DBE6E0;
}

aside menu {
    position: absolute;
    margin-top: 2vh;
    left: 0px;
    height: 10px;
}

aside menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    margin-left: -40px;
    width: 100px;
    margin-bottom: 10px;
    gap: 1vh;
}

aside menu button {
    cursor: pointer;
    border: none;
    background-color: #0C66E3;
    border-radius: 5px;
    width: 55px;
    height: 55px;
}

aside menu img {
    margin-top: 2px;
    width: 4cap;
}

aside menu p {
    cursor: default;
    margin: 0;
    margin-bottom: 1vh;
    font-size: 1.8vh;
}

aside button.manimaxi {
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: #0A53B8;
    border: 4px solid #083D82;
    border-radius: 100%;
    bottom: 10px;
    right: -28px;
    width: 50px;
    height: 50px;
}

aside button.manimaxi:hover {
    background-color:#083D82;
}

aside button.manimaxi img {
    margin-top: 2.5px;
    margin-left: 2.5px;
    width: 25px;
    height: 25px;
}
/* ------------------------------------------------- */
header {
    position: fixed;
    background-color: #0e57aa;
    left: 106px;
    right: 0;
    height: 7.5vh;
    z-index: 3;
}

header button:has(>span){
    position: absolute;
    margin-left: -35px;
}

header button:has(>img){
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1.5vh;
}

header button{
    border-color: transparent;
    background-color: transparent;
    border: 0px;
    width: 5vh;
    height: 5vh;
}

header button img{
    position: absolute;
    width: 5vh;
    height: 5vh;
    margin-top: -2.5vh;
    margin-left: -2.5vh;
}

article.left {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    height: 7.5vh;
    margin-left: 1.5vh;
    background-color: rgb(255, 0, 0);
}

article.right {
    position: absolute;
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    height: 7.5vh;
    width: 41vh;
}

article.left p {
    font-weight: bold;
    color: #ffffff;
    font-size: 3vh;
    margin: 0;
    margin-right: 1.5vh;
}

article.right span {
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    width: 88%;
    height: 87%;
    margin-top: -2.5vh;
    margin-left: -36.8vh;
    border: 0.4vh solid black;
}

header button:not(:has(>img)):not(:has(>span)) {
    cursor: pointer;
    font-weight: bold;
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 1.5vh;
    margin-left: 1.5vh;
    width: 25vh;
    height: 5vh;
    margin-right: 1.5vh;
    font-size: 2.5vh;
}

header button:has(>img):hover{
    background-color: #d9d9d980;
}

header button:not(:has(>img)):not(:has(>span)):hover {
    border-radius: 0px;
    background-color: #ffffff;
}